<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Shop Online
    </ion-title>
    <ion-buttons slot="end">
      <ion-button href="https://strapi-h93z.onrender.com/admin">
        Admin
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shop Online</ion-title>
      <ion-buttons slot="end">
        <ion-button href="https://strapi-h93z.onrender.com/admin">
          Admin
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Shop Online</strong>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col size="12">
          <a href="app://uk.shop.amigao">
            app://uk.shop.amigao
          </a>
        </ion-col>
        <ion-col size="12">
          <a href="app://uk.mobile.amigao?loginToken=2GFCUxWRgC_VB3_t4Mkc">
            app://uk.mobile.amigao?loginToken=2GFCUxWRgC_VB3_t4Mkc
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <a href="https://ion-shop-online.web.app">
            https://ion-shop-online.web.app
          </a>
        </ion-col>
        <ion-col size="12">
          <a href="ion-shop-online.web.app">
            ion-shop-online.web.app
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>